 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    }
 @media (prefers-color-scheme: dark) {
    body {
    /* Dark mode styles */
    background-color: #0d1117; /* GitHub's dark mode background */
    color: #c9d1d9; /* GitHub's dark mode text color */
    }
 }   

 .quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
 }

 .question {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: grey;
 }

 .answers label {
    display: block;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
 }

 .answers label:hover {
    background-color: #015dc0;
 }

 .answers input[type="radio"] {
     margin-right: 10px;
 }

 .feedback {
     margin-top: 15px;
     padding: 10px;
     border-radius: 5px;
     display: none;
     /* Hidden by default */
 }

 .feedback.correct {
     background-color: #d4edda;
     color: green;
 }

 .feedback.incorrect {
     background-color: #f8d7da;
     color: #721c24;
 }

 button {
    font-size: 1.2em;
    background-color: #015dc0;
    padding: 10px 15px;
    font-weight: bold;
 }

 button:hover {
   background-color: gray;
 }

 #submit,
 #next {
    display: none;
    /* Hidden by default */
 }

 #results {
     margin-top: 20px;
     font-size: 1.1em;
     font-weight: bold;
 }

 #score-table {
     margin-top: 30px;
     border-top: 1px solid #eee;
     padding-top: 20px;
 }

 .correct {
     color: green;
 }

 .incorrect {
     color: red;
 }

 .quiz-header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
 } 

 #question-number,
 #timer-button {
     font-weight: bold;
     color: black;
 }
















